{% extends "base.html" %} {% load staticfiles %} {% block header_index %}
<div class="intro-header">
    <div class="col-xs-12 text-center abcen1">
        <h1 class="h1_home wow fadeIn" data-wow-delay="0.4s">Image Organizer</h1>
        <h3 class="h3_home wow fadeIn" data-wow-delay="0.6s">Clean & easy</h3>
        <ul class="list-inline intro-social-buttons">
            <li><a href="/dashboard" class="btn  btn-lg mybutton_cyano wow fadeIn" data-wow-delay="0.8s"><span class="network-name">Start Organizing your pictures </span></a>
            </li>
        </ul>
    </div>
    <!-- /.container -->
    <div class="col-xs-12 text-center abcen wow fadeIn">
        <div class="button_down ">
            <a class="imgcircle wow bounceInUp" data-wow-duration="1.5s" href="#whatis"> <img class="img_scroll" src="{% static 'img/icon/circle.png' %}" alt=""> </a>
        </div>
    </div>
</div>
{% endblock %} {% block content%}
<!-- What is -->
<div id="whatis" class="content-section-b" style="border-top: 0">
    <div class="container">
        <div class="col-md-6 col-md-offset-3 text-center wrap_title">
            <h2>What is?</h2>
            <p class="lead" style="margin-top:0">A special thanks to Death.</p>
        </div>
        <div class="row">
            <div class="col-sm-4 wow fadeInDown text-center">
                <img class="rotate" src="{% static 'img/icon/tweet.svg' %}" alt="Generic placeholder image">
                <h3>Follow Me</h3>
                <p class="lead">Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum. </p>
                <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-sm-4 wow fadeInDown text-center">
                <img class="rotate" src="{% static 'img/icon/picture.svg' %}" alt="Generic placeholder image">
                <h3>Gallery</h3>
                <p class="lead">Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum. </p>
                <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-sm-4 wow fadeInDown text-center">
                <img class="rotate" src="{% static 'img/icon/retina.svg' %}" alt="Generic placeholder image">
                <h3>Retina</h3>
                <p class="lead">Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum. </p>
                <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->
        <div class="row tworow">
            <div class="col-sm-4  wow fadeInDown text-center">
                <img class="rotate" src="{% static 'img/icon/laptop.svg' %}" alt="Generic placeholder image">
                <h3>Responsive</h3>
                <p class="lead">Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum. </p>
                <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-sm-4 wow fadeInDown text-center">
                <img class="rotate" src="{% static 'img/icon/map.svg' %}" alt="Generic placeholder image">
                <h3>Google</h3>
                <p class="lead">Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum. </p>
                <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-sm-4 wow fadeInDown text-center">
                <img class="rotate" src="{% static 'img/icon/browser.svg' %}" alt="Generic placeholder image">
                <h3>Bootstrap</h3>
                <p class="lead">Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum. </p>
                <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->
    </div>
</div>
<div class="content-section-c " style="display:none;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center white">
                <h2>Get Live Updates</h2>
                <p class="lead" style="margin-top:0">A special thanks to Death.</p>
            </div>
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="mockup-content">
                    <div class="morph-button wow pulse morph-button-inflow morph-button-inflow-1">
                        <button type="button "><span>Subscribe to our Newsletter</span></button>
                        <div class="morph-content">
                            <div>
                                <div class="content-style-form content-style-form-4 ">
                                    <h2 class="morph-clone">Subscribe to our Newsletter</h2>
                                    <form>
                                        <p>
                                            <label>Your Email Address</label>
                                            <input type="text" />
                                        </p>
                                        <p>
                                            <button>Subscribe me</button>
                                        </p>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>>
    </div>
</div>
{% endblock %}
